@media (max-width: 740px) {

    .s-col-full {
        width: 100%;
    }

    .mg-t-8 {
        margin-top: 8px;
    }

    html, body {
        overflow-x: hidden;
    }

    #nav {
        display: block;
    }

    #nav > li {
        display: block;

    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
    } /*setup các box trong mục cuối*/

    .subnav li a {
        display: block;
        padding: 20px 42px;
        color: white;
    }

    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #header .search-btn {
        display: none;

    }

    #content .content-section {
        /* max-width: 800px; */
        max-width: 100%;
        padding: 64px 0;
        margin: 0 auto;
        padding-left: 16px;
        padding-right: 16px;
    }

    #content .member-item {
        margin: 30px 0px ;
        width: 100%;
    }

    #content .member-item img {
        width: 60%;
        height: 60%;
        object-fit: cover; /* Rất quan trọng */
        margin: 10px 0px;
    }

    .place-list .place-item {
    /* float: left; */
        width: 33.3333333333333333333%;
        padding: 0px 8px;
        width: 100%;
        margin-top: 30px;
    }

    .contact-content {
        display: block;
    }

    .contact-info {
        font-size: 18px;
        line-height: 1.5;
        width: 100%;
        margin-bottom: 20px;
    }

    .contact-form {
        font-size: 15px;
        width: 100%;
    }

    .contact-form .form-control {
        width: 100%;
    }

    .contact-form .form-control .row {
        padding: 6px;
    }

    .contact-form .form-submit-btn {
        font-size: 15px;
        background-color: red;
        color: white;
        border: none;
        padding: 10px 16px;
        text-transform: uppercase;
        float: right;
        width: 100%;
    }

    .place-buy-btn {
        color: black;
        background-color: orange;
        text-decoration: none;
        padding: 11px 16px;
        display: inline-block;
        margin-top: 15px;
        border: none;
        width: 100%;
    }

}